body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.body-container {
  background-image: linear-gradient(to right, #ffff00, #00b3ff, #ff1493);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.custom-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.custom-container button {
  padding: 10px;
  margin: 10px 100px;
}

.custom-container .inputs {
  padding: 10px;
  margin: 10px 10px;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.footer-info p {
  margin: 2px 0;
}

.logo {
  width: 300px;
  margin-top: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  text-align: center;
  font-weight: 1000;
  color: white;
}

.social-icon {
  display: flex;
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.social-icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(0, 0, 0, 0.5)
  ); /* Adiciona uma sombra ao ícone */
}

.social-icons-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .custom-container {
    width: 90%;
  }

  .footer-container {
    padding: 20px 0;
  }

  .footer-info {
    margin-top: 10px;
  }

  .logo {
    width: 200px;
  }
}
